---
layout: default
---

<br />
<br />
<br />
<br />

<div class="container theme-showcase" role="main" style="font-family: Helvetica;">

  <div class="row">
    <div class="col-sm-8 col-lg-8">
      {% for post in site.posts %}
      {% if post.category == "post" %}
      {% if post.date %}
      <p class="entry-date date published">
        <time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
      </p>
      {% endif %}
      <div class="media">
        <a class="media-left" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.images.cover %}
          <img src="{{ post.images.cover }}" style="width:200px;">
          {% else %}
          <img src="{{ site.avatar }}" style="width:75px;">
          {% endif %}
        </a>
        <div class="media-body">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h4 class="media-heading">{{ post.title }}</h4>
          </a>
          {{ post.excerpt | strip_html | truncate: 320 }}
          <div style="text-align:right; width:100%;">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <button type="button" class="btn btn-xs btn-default">Read more &raquo;</button>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>


    <div class="col-sm-4 col-lg-4">

      <div class="row" style="text-align:center;">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x"></i>
          </span>
        </a>

        <a href="https://github.com/{{ site.github_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x"></i>
          </span>
        </a>

        <a href="https://twitter.com/{{ site.twitter_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>

        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a>
      </div>  <!-- row -->

      <div class="row" style="text-align:center;">
        <a href="http://facebook.com/{{ site.facebook_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </a>

        <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-stack-overflow fa-stack-1x"></i>
          </span>
        </a>

        <a href="https://www.youtube.com/channel/{{ site.youtube_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x"></i>
          </span>
        </a>

        <a href="https://www.reddit.com/user/{{ site.reddit_username }}" class="btn btn-xs btn-default" role="button">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-reddit fa-stack-1x"></i>
          </span>
        </a>
      </div>  <!-- row -->

      <br />

      <div class="row">
        <ul class="list-group">
          <li class="list-group-item"><h3>Latest News</h3>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:100%; margin-left:auto; margin-right:auto;">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
               <h5 style="text-align:center;"><span class="label label-default">YOLO Food Detection Video</span></h5>
                <a href="https://www.youtube.com/watch?v=mZ3FlCeDWlU">
                  <img src="images/news/TheArtOfSushi_YOLO.jpg" alt="YOLO Food Detection Video" style="margin-left:auto; margin-right:auto;">
                </a>
              </div>
              <div class="item">
               <h5 style="text-align:center;"><span class="label label-default">Food100 Python Tools are Open Sourced</span></h5>
                <a href="https://github.com/bennycheung/Food100_YOLO_Tools">
                  <img src="images/news/YOLO_Food100_Tools.jpg" alt="Food100 Python Tools are Open Sourced" style="margin-left:auto; margin-right:auto;">
                </a>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </li>
        <li class="list-group-item"><h3>Recent posts</h3>
          <ul>
            {% for post in site.posts %}
            {% if post.category == "post" %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 30 }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div> <!-- row -->

  </div> <!-- side column -->
</div> <!-- row -->

</div> <!-- container theme showcase -->

<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
