{% if site.giscus.repo %}
<script src="https://giscus.app/client.js"
        data-repo="{{ site.giscus.repo }}"
        data-repo-id="{{ site.giscus.repo_id }}"
        data-category="{{ site.giscus.category }}"
        data-category-id="{{ site.giscus.category_id }}"
        data-mapping="{{ site.giscus.mapping }}"
        data-strict="{{ site.giscus.strict }}"
        data-reactions-enabled="{{ site.giscus.reactions_enabled }}"
        data-emit-metadata="{{ site.giscus.emit_metadata }}"
        data-input-position="{{ site.giscus.input_position }}"
        data-theme="{{ site.giscus.theme }}"
        data-lang="{{ site.giscus.lang }}"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
