<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="google-site-verification" content="Q8ugHabWc9ghHIgttC6uXjdB40F3tpW2ar6lQ-CWTNo" />

	<!-- Twitter card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@Benny_Cheung">
	<meta name="twitter:title" content="{{ page.title }}">

	{% if page.description %}
		<meta name="twitter:description" content="{{ page.meta_description }}">
	{% else %}
		<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
	{% endif %}

	{% if page.image.thumb %}
		<meta name="twitter:image" content="{{ site.baseurl }}/{{ page.image.thumb }}">
	{% else %}
		<meta name="twitter:image" content="{{ site.baseurl }}/{{ page.image }}">
	{% endif %}

	<!-- Facebook share -->
	{% if page.header-img %}
    <meta property="og:image" content="{{ site.baseurl }}/{{ page.image }}" />
	{% endif %}

	<meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }" />

	<!-- page title -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<!-- Bootstrap theme -->
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<!-- font awesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/blog.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/pygments.css">
</head>
