<!-- Image Lightbox Modal -->
<div class="modal fade" id="imageLightbox" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lightbox" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img id="lightboxImage" src="">
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Make all post content images clickable and enable lazy loading
  $('.post-content img').each(function() {
    var $img = $(this);
    $img.attr('loading', 'lazy');
    $img.css('cursor', 'pointer');
    $img.on('click', function() {
      $('#lightboxImage').attr('src', this.src);
      $('#imageLightbox').modal('show');
    });
  });

  // Click image in modal to close
  $('#lightboxImage').on('click', function() {
    $('#imageLightbox').modal('hide');
  });
});
</script>
