<!-- Image Lightbox Modal -->
<div class="modal fade" id="imageLightbox" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: transparent; border: none; box-shadow: none;">
      <div class="modal-body" style="padding: 0; text-align: center;">
        <img id="lightboxImage" src="" style="max-width: 100%; max-height: 90vh; cursor: pointer;">
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Make all post content images clickable
  $('.post-content img').each(function() {
    var $img = $(this);
    $img.css('cursor', 'pointer');
    $img.on('click', function() {
      $('#lightboxImage').attr('src', this.src);
      $('#imageLightbox').modal('show');
    });
  });

  // Click image in modal to close
  $('#lightboxImage').on('click', function() {
    $('#imageLightbox').modal('hide');
  });
});
</script>
