<!-- Series Navigation -->
{% if page.series %}
{% assign series_posts = site.posts | where: "series", page.series | sort: "series_order" %}
{% if series_posts.size > 1 %}
<div class="series-nav">
  <div class="series-header">
    <span class="series-label"><i class="fa fa-bookmark"></i> Series</span>
    <h4 class="series-title">{{ page.series }}</h4>
    <span class="series-progress">Part {{ page.series_order }} of {{ series_posts.size }}</span>
  </div>
  <div class="series-posts">
    {% for post in series_posts %}
    <a href="{{ post.url }}" class="series-post {% if post.url == page.url %}current{% endif %}">
      <span class="series-post-number">{{ post.series_order }}</span>
      <span class="series-post-title">{{ post.title }}</span>
      {% if post.url == page.url %}<i class="fa fa-arrow-left"></i>{% endif %}
    </a>
    {% endfor %}
  </div>
  <div class="series-nav-buttons">
    {% for post in series_posts %}
      {% if post.series_order == page.series_order | minus: 1 %}
        <a href="{{ post.url }}" class="series-btn prev-btn"><i class="fa fa-chevron-left"></i> Previous Part</a>
      {% endif %}
      {% if post.series_order == page.series_order | plus: 1 %}
        <a href="{{ post.url }}" class="series-btn next-btn">Next Part <i class="fa fa-chevron-right"></i></a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endif %}
