<section id="sidebar" class="col-md-3">
    <div id="sticky">
        <aside id="author" class="content-box">
            {% if site.author_image %}
            <a href="/"><img src="{{ site.author_image }}" alt="{{ site.author }}"></a>
            {% endif %}
            <h3>{{ site.author_name }}</h3>
            <p><h6>{{ site.author_description }}</h6></p>
            <hr>
            <nav id="navigation">
                <ul>
                    {% for page in site.pages %}
                      {% if page.title %}
                         <i class="fa fa-plus-circle"></i> <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a><br>
                      {% endif %}
                    {% endfor %}

                    {% for external_page in site.external_pages %}
                      {% if external_page.title %}
                          <li><a href="{{ external_page.url | prepend: site.baseurl }}">{{ external_page.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        {% if site.social_widget %}
        <aside id="social" class="content-box">
            <ul class="fa-ul">
              {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github-alt fa-stack-1x"></i>
                </span>
                </a>
              {% endif %}

              {% if site.facebook_username %}
                <a href="https://facebook.com/{{ site.facebook_username }}">
                <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                </a>
              {% endif %}

              {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                </a>
              {% endif %}
		<br>
              {% if site.youtube_username %}
				<a href="https://www.youtube.com/channel/{{ site.youtube_username }}">
				<span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x"></i>
                </span>
                </a>
              {% endif %}

              {% if site.dribbble_username %}
              <li><i class="fa-li fa fa-dribbble"></i><a href="https://www.dribbble.com/{{ site.dribbble_username }}">Dribbble</a></li>
              {% endif %}

              {% if site.googleplus_username %}
              <li><i class="fa-li fa fa-google-plus"></i><a href="https://plus.google.com/+{{ site.googleplus_username }}">Google+</a></li>
              {% endif %}

              {% if site.instagram_username %}
              <li><i class="fa-li fa fa-instagram"></i><a href="https://www.instagram.com/{{ site.instagram_username }}">Instagram</a></li>
              {% endif %}

              {% if site.pinterest_username %}
              <li><i class="fa-li fa fa-pinterest"></i><a href="https://www.pinterest.com/{{ site.pinterest_username }}">Pinterest</a></li>
              {% endif %}

			  {% if site.stackoverflow_username %}
                <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}">
                <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x"></i>
                </span>
                </a>
              {% endif %}

              {% if site.linkedin_username %}
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>
                </a>
              {% endif %}
            </ul>
        </aside>
        {% endif %}
        {% if site.subscribe_widget %}
        <aside id="subscribe" class="content-box">
            <h5>Subscribe</h5>
            <div class="form-group">
                <form action="{{ site.form_action }}" method="post" target="_blank">
                    <fieldset class="form-group">
                        <input id="subscription-email" name="EMAIL" class="form-control" type="email" placeholder="Email address" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ site.list_id }}" tabindex="-1" value=""></div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-block subscribe-button">Subscribe</button>
                </form>
            </div>
        </aside>
        {% endif %}
        {% if site.copyright_notice %}
        <aside id="copyright">
            <p>Copyright&copy; {{ site.time | date: "%Y" }} {{ site.author_name }}. All rights reserved.</p>
        </aside>
        {% endif %}
    </div>
</section>
