body {
  background:#999999;    
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight:400;
  line-height:1.6;
  -webkit-font-smoothing: antialiased;
  color: #555; 
  padding:50px 0px;
}
.content-box {
  background:#ddd;
  padding:20px 0px 0px 0px;
  border: 1px solid transparent;
  border-radius: 41px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom:20px;
}
