/* Author image, name, description */
#author {
  text-align:center;
}
#author img {
  border-radius: 100%;
  border:5px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 3px solid #ddd;
  max-width:75%;
  margin-bottom:20px;
}
#author h5 {
  font-weight:bold;
}
#author p {
  font-size:0.8rem;
  margin:0px 10px;
}
/* Page navigation */
#navigation ul {
  list-style-type: none;
  padding:0px 20px 0px 20px;
}
#navigation ul li {
  display:inline-block;
}
#navigation a {
  color:#555;
  font-weight:700;
}
/* Social links */
#social {
  font-weight:300;
}
#social a {
  text-decoration: none;
}
#social li {
  padding-left:5px;
}
#social ul {
  padding-left:10px;
}
#social .fa-stack fa-lg {
  color:#965432;
  margin-top:2px;
}
#social a:hover, a:focus {
  color: #216a94;
  text-decoration: underline;
}
/* Subscribe form */
#subscribe {
  padding:20px;
}
#subscribe h5 {
  margin-bottom:20px;
  padding-bottom:5px;
  border-bottom:1px solid #eee;
}
/* Copyright notice */
#copyright {
  font-weight:300;
  text-align:center;
  font-size:1.0rem;
}
