<!DOCTYPE html>
<html>

{% include head.html %}

<body role="document">

	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	{% include footer.html %}
	{% include google_analytics.html %}
	{% include google_analytics_4.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	{% include image_lightbox.html %}
	{% include code_copy.html %}
	{% unless page.toc == false %}
		{% include auto_toc.html %}
	{% endunless %}
</body>
</html>
