---
layout: default
comments: true
---
<br />
<br />
<br />
<br />
<div class="container theme-showcase" role="main" style="font-size:16px; font-family: Helvetica; width:750px;">

	<header class="post-header">
		<div class="blog-image"
			style="{% if page.image.header %}background-image:url({{page.image.header}}){% endif %}">
		</div>
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

		{% include post-tags.html %}
	</header>

	<hr/>

	<article class="post-content">
		{{ content }}
	</article>

	{% if page.comments == true %}
		{% include comments.html %}
	{% endif %}
</div>


<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
